<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>UniFecaf Lab</title>
  <link rel="icon" href="https://lh3.googleusercontent.com/pw/AP1GczOIBJoEVyL_Y4LHu1LcaYc68wYZFqvkjOy0kQcZsqQUY4ZR4C2UuVI2eDPPQLnr4Hrs8iPjNiQUMdK9BRy8WGxYCjjXZzzal4F5GEjQC384Ew_lfE-8rJg9RU27lwlRkNDvzGk0WG3EdiA9GmAtRX5-=w600-h600-s-no-gm?authuser=0" type="image/x-icon"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lab.css') }}"/>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="logo">
                <img src="https://lh3.googleusercontent.com/pw/AP1GczN5tm25HK6WJtYs-u_zmYpLApBCpjEJEdOaWkDfxo_Fc9qOImsudrTTBs_J3zQY3V-69r2L534zfIfp0V3bcWWfrtru2fDO_L-d6-ir4Dp1dmPfzhIPb6d4vrHWdHqgIyMriQrxmqiL3qnsWUX3SmsF=w960-h315-s-no-gm?authuser=0" alt="UniFECAF">
            </div>
            <nav>
                <ul class="top">
                    <li><a href="#">Início</a></li>
                    <li><a href="#" class="active">Laboratórios</a></li>
                    <li><a href="#">Fazer Reserva</a></li>
                </ul>
                <ul class="bottom">
                    <li><a href="#">Minha Conta</a></li>
                    <li><a href="#">Ajuda</a></li>
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <header>
                <h1>Selecione a sala para visualizar as reservas da semana</h1>
                <div class="date">18/04/2024</div>
            </header>
            <div class="lab-selection">
                <a href="/lab01" class="lab"><img src="lab01.jpg" alt="Lab 01"><span>LAB 01</span></a>
                <a href="/lab02" class="lab"><img src="lab02.jpg" alt="Lab 02"><span>LAB 02</span></a>
                <a href="/lab03" class="lab"><img src="lab03.jpg" alt="Lab 03"><span>LAB 03</span></a>
                <a href="/lab04" class="lab"><img src="lab04.jpg" alt="Lab 04"><span>LAB 04</span></a>
                <a href="/lab05" class="lab"><img src="lab05.jpg" alt="Lab 05"><span>LAB 05</span></a>
                <a href="/lab06" class="lab"><img src="lab06.jpg" alt="Lab 06"><span>LAB 06</span></a>
                <a href="/lab07" class="lab"><img src="lab07.jpg" alt="Lab 07"><span>LAB 07</span></a>
            </div>
        </div>
    </div>
</body>
</html>