<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>UniFecaf Lab</title>
  <link rel="icon" href="https://lh3.googleusercontent.com/pw/AP1GczOIBJoEVyL_Y4LHu1LcaYc68wYZFqvkjOy0kQcZsqQUY4ZR4C2UuVI2eDPPQLnr4Hrs8iPjNiQUMdK9BRy8WGxYCjjXZzzal4F5GEjQC384Ew_lfE-8rJg9RU27lwlRkNDvzGk0WG3EdiA9GmAtRX5-=w600-h600-s-no-gm?authuser=0" type="image/x-icon"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lab.css') }}"/>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="logo">
                <img src="https://lh3.googleusercontent.com/pw/AP1GczN5tm25HK6WJtYs-u_zmYpLApBCpjEJEdOaWkDfxo_Fc9qOImsudrTTBs_J3zQY3V-69r2L534zfIfp0V3bcWWfrtru2fDO_L-d6-ir4Dp1dmPfzhIPb6d4vrHWdHqgIyMriQrxmqiL3qnsWUX3SmsF=w960-h315-s-no-gm?authuser=0" alt="UniFECAF">
            </div>
            <nav>
                <ul class="top">
                    <li><a href="https://unilab-d0686b327ca7.herokuapp.com/pagina_principal">Início</a></li>
                    <li><a href="https://unilab-d0686b327ca7.herokuapp.com/lab" class="active">Laboratórios</a></li>
                    <li><a href="https://unilab-d0686b327ca7.herokuapp.com/reserva">Fazer Reserva</a></li>
                </ul>
                <ul class="bottom">
                    <li><a href="#">Minha Conta</a></li>
                    <li><a href="#">Ajuda</a></li>
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <header>
                <h1>Selecione a sala para visualizar as reservas da semana</h1>
                <div class="date">18/04/2024</div>
            </header>
            <div class="lab-selection">
                <a href="https://unilab-d0686b327ca7.herokuapp.com/reserva" class="lab">
                    <img src="https://img.freepik.com/vetores-gratis/plano-de-fundo-realista-em-estilo-futurista_23-2149129125.jpg?w=740&t=st=1717804843~exp=1717805443~hmac=f769f4c769fb968892371c58312a369b28cd05587ba1453782b03bbbf0555ff4" alt="Lab 01">
                    <span>LAB 01</span>
                </a>
                <a href="https://unilab-d0686b327ca7.herokuapp.com/reserva" class="lab">
                    <img src="https://img.freepik.com/vetores-gratis/fundo-futurista-realista_23-2149129121.jpg?t=st=1717798745~exp=1717799345~hmac=3fc2864e956f825e56d288010ceedef06fc2d6e5841e6a36d317a01d805d955b" alt="Lab 02">
                    <span>LAB 02</span>
                </a>
                <a href="https://unilab-d0686b327ca7.herokuapp.com/reserva" class="lab">
                    <img src="https://img.freepik.com/vetores-gratis/plano-de-fundo-realista-em-estilo-futurista_23-2149129124.jpg" alt="Lab 03">
                    <span>LAB 03</span>
                </a>
                <a href="https://unilab-d0686b327ca7.herokuapp.com/reserva" class="lab">
                    <img src="https://img.freepik.com/vetores-gratis/papel-de-parede-com-efeito-de-vidro-realista_23-2149129119.jpg" alt="Lab 04">
                    <span>LAB 04</span>
                </a>
                <a href="https://unilab-d0686b327ca7.herokuapp.com/reserva" class="lab">
                    <img src="https://img.freepik.com/vetores-gratis/papel-de-parede-com-efeito-de-vidro-realista_23-2149129120.jpg" alt="Lab 05">
                    <span>LAB 05</span>
                </a>
                <a href="https://unilab-d0686b327ca7.herokuapp.com/reserva" class="lab">
                    <img src="https://img.freepik.com/vetores-gratis/papel-de-parede-com-efeito-de-vidro-realista_23-2149129119.jpg" alt="Lab 06">
                    <span>LAB 06</span>
                </a>
                <a href="https://unilab-d0686b327ca7.herokuapp.com/reserva" class="lab">
                    <img src="https://img.freepik.com/vetores-gratis/fundo-de-tecnologia-realista_23-2149129123.jpg?t=st=1717804966~exp=1717805566~hmac=c21ebbcef515371215947fd3c8bf8f9f32d1ea5f520c73ce1e34e56ac01fcb56" alt="Lab 07">
                    <span>LAB 07</span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
